.card{
    height: 400px;
    width: 300px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 5px 10px rgb(138, 138, 136);
    margin:auto;
    margin-top: 20px;

}

img{
    top: 0;
    right: 0;
    position: absolute;
}

/* .example-header-image {
    background-image: url('src\assets\images\male.png');
    background-size: 100%;
  } */

.delete{
    position: absolute;
    bottom: 0;
    right: 0;

}