<mat-card class="card" *ngIf="student">
    <mat-card-header>
      <img *ngIf="student.gender==='male'" mat-card-image src="assets\images\male.png" alt="Photo of the Student">
      <img *ngIf="student.gender==='female'" mat-card-image src="assets\images\female.png" alt="Photo of the Student">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{student.name}}</mat-card-title>
      <mat-card-subtitle>{{student.rollNo}}</mat-card-subtitle>
      <mat-card-subtitle>{{student.department}}</mat-card-subtitle>
      <mat-card-subtitle>{{student.mobileNum}}</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="delete(student.id)">
        <mat-icon class="delete">delete</mat-icon>
      </button>
    </mat-card-actions>

</mat-card>
     

  