.card{
    height: 400px;
    width: 300px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 5px 10px rgb(138, 138, 136);
    margin:auto;
    margin-top: 20px;

}

/* img{
    top: 0;
    right: 0;
    position: absolute;
} */

/* .example-header-image {
    background-image: url('src\assets\images\male.png');
    background-size: 100%;
  } */

/* .delete{
    position: absolute;
    bottom: 0;
    right: 0;
} */

.border{
    margin-top: 15px;
}

img{
    height: 300px;
    width: 300px;
    display: block; 
    margin: 0 auto;
    /* position: fixed; */
    border: 1px solid #878787; 

}

table{
    margin: auto;
    border-collapse: collapse; 
    border: 1px solid #878787; 

}


td, th {
    width: 200px;
    padding: 8px; 
}
.header{
    color: #878787;
    /* font-weight: bold; */
}

.name{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}



button{
    width: 200px;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
