table{
    text-align: center;
    margin: auto;
    margin-top: 80px;
    border-spacing: 20px;
    /* background-color: darkgrey; */
    
}

.col:hover{
    transform: scale(1);
    /* background-color: honeydew; */

}

.header{
    font-weight: bold;
}