.example-card{
    height:350px;
    width:300px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 5px 10px rgb(138, 138, 136);
    display: inline-flex;
}

.example-card:hover{
    transform: scale(1.05);
    background-color: rgba(24, 197, 255, 0.781);
}

img{
    width: 200px;
    height: 250px;
    margin: auto;
}