.card{
    margin-top: 80px;
    margin-left: 60px;
}

.example-card{
    height:350px;
    width:300px;
    margin: auto;
    display: inline-flex;
    border: 1px solid #878787; 

}

.title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-card:hover{
    transform: scale(1.01);
    color: #2370f4;
    border: 3px solid #2370f4;
    
}

img{
    width: 200px;
    height: 250px;
    margin: auto;
}